[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bradford-white-connect-client = "*"
requests = "*"
jinja2 = "*"
cryptography = ">=43.0.1"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-aiohttp = "*"
pytest-cov = "*"
pytest-homeassistant-custom-component = "*"

[requires]
python_version = "3.11"
